#countdown {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color 0.5s ease;
}

#countdown.low {
    background-color: rgba(255, 140, 0, 0.6);
}

#countdown.critical {
    background-color: rgba(227, 0, 0, 0.6);
}

#countdown.timeout {
    animation: blink 0.5s;
    animation-iteration-count: 3;
}

@keyframes blink { 50% { background-color:#fff ; }  }

#countdown_timer {
    font-variant-numeric: tabular-nums;
    display: block;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

#set-timer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    background-color: rgba(34, 38, 57, 0.8);
    backdrop-filter: blur(10px);
}

#set-timer.hidden {
    display: none;
}

#timer-interval-form {
    border: 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#timer-interval-form input {
    border-radius: 16px;
    background-clip: padding-box;
    border: 1px solid rgba(255, 255, 255, 0.7);
    /*border: 1px solid rgba(187, 153, 255, 0.5);*/
    padding: 5px 15px;
    font-size: 1.5em;
    width: 45px;
    color: white;
    background-color: rgba(34, 38, 57, 0.6);
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

#timer-interval-form .divider {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 5px;
}

.controller_button {
    height: 40px;
    width: 40px;
    border: 0;
    border-radius: 20px;
    padding: 0;
    background: transparent;
    color: white;
}

.controller_button:disabled {
    opacity: 0.3;
    cursor: unset;
}

.controller_button:hover {
    background: #ffffff15;
}

.controller_button svg {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

#controller {
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

#controller .controller_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
