body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: rgba(34, 38, 57, 0.6);
    background-image: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

#countdown_timer {
    font-variant-numeric: tabular-nums;
    display: block;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

#controller {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

#controller .controller_button {
    display: flex;
    height: 40px;
    width: 40px;
    border: 0;
    border-radius: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: transparent;
}

#controller .controller_button:hover {
    background: #ffffff15;
}

#controller .controller_button svg, #controller .controller_button object {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
